/* CONDICIONALES */
p {
  color: black; }

/*BUCLES */
.imagenesAncho-1 {
  width: 200px; }

.imagenesAncho-2 {
  width: 400px; }

.imagenesAncho-3 {
  width: 600px; }

.imagenesAncho-4 {
  width: 800px; }

.imagenesAncho-5 {
  width: 1000px; }

.imagenesAlto-1 {
  height: 10vh; }

.imagenesAlto-2 {
  height: 20vh; }

.imagenesAlto-3 {
  height: 30vh; }

.imagenesAlto-4 {
  height: 40vh; }

.imagenesAlto-5 {
  height: 50vh; }

.imagenesAlto-6 {
  height: 60vh; }

.imagenesAlto-7 {
  height: 70vh; }

/* EACH */
.Mujerdeportiva33-carrusel {
  background-image: url("/ImagenesProyecto/Index/Mujerdeportiva33.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center; }

.mujerdeportiva4-carrusel {
  background-image: url("/ImagenesProyecto/Index/mujerdeportiva4.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center; }

.mujerdeportiva6-carrusel {
  background-image: url("/ImagenesProyecto/Index/mujerdeportiva6.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center; }

/* Bucle declarado*/
.blanco {
  color: whitesmoke; }

.naranja {
  color: #ff5618; }

.black {
  color: black; }

.azul {
  color: blue; }

.colorIcons {
  color: #ff5618; }

.header {
  background-image: url("/ImagenesProyecto/Index/graffitinaranja.png");
  width: 100%;
  padding: 20px 0 20px;
  margin: 0;
  opacity: 1; }
  .header .header__div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .header .header__div .header__logo {
      max-height: 15vh; }

.titulosPrin {
  padding: 10px;
  margin: 7px;
  background-image: url("/ImagenesProyecto/Index/imgtitulo.jpg");
  color: #ff5618;
  text-align: center;
  font-size: large;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

.titulosPrin__secu {
  font-family: "Roboto", sans-serif;
  color: #ff5618;
  font-weight: bold;
  font-size: large; }

.titulosPrin--secc {
  padding: 10px;
  margin: 7px;
  color: #ff5618;
  background-color: #e6dcd0;
  text-align: center;
  font-size: x-large;
  text-transform: uppercase;
  width: 100%;
  height: 7vh; }

.tituloSec {
  text-align: center;
  padding-left: 30px;
  font-size: large;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold; }

.calzado {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 7px;
  background-position: center; }
  .calzado .calzado__mf {
    display: flex;
    flex-direction: column;
    margin: 7px; }

/* Seccion nosotros */
.flexJ {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 10px; }
  .flexJ .flexJ_1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .flexJ .flexJ_2 {
    width: 30%;
    font-size: medium;
    text-align: center;
    flex-direction: column;
    align-items: center; }
  .flexJ .flexJ_img {
    height: 59vh;
    border-radius: 10%;
    max-width: 100%;
    padding-bottom: 10px; }
  .flexJ .flexJ_tAQ {
    display: inline; }
  .flexJ .flexJ_tAQ2 {
    display: none; }

.flexQS {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 10px;
  height: auto; }
  .flexQS .flexQS__seccion {
    padding-bottom: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    max-height: 80vh;
    text-align: center; }
  .flexQS .flexQS__img {
    padding-bottom: 20px;
    border-radius: 10%;
    width: 90%;
    height: 70vh; }

.flexPF {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }
  .flexPF .flexPF_1 {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 35%;
    max-height: 90vh;
    background-position: center; }
  .flexPF .flexPF_2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    align-items: flex-end;
    text-align: right; }

.flexP {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }
  .flexP .flexP_1 {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    width: 40%;
    max-height: 90vh;
    justify-content: center; }
  .flexP .flexP_2 {
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    text-align: left;
    align-items: flex-start; }

.flexTyC {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
  justify-content: center; }

.footer {
  padding-left: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-content: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif; }
  .footer .footer__s23 {
    width: 33%; }
  .footer .footer--s1 {
    width: 25%; }

.imgSI {
  height: 100%;
  width: 90%;
  border-radius: 50%;
  padding: 20px; }

/*Media Queries*/
@media (max-width: 600px) {
  .footer {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-content: center;
    font-family: "Roboto", sans-serif; }
    .footer .footer__s23 {
      width: 80%; }
    .footer .footer--s1 {
      width: 80%; }
  .flexP {
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
    .flexP .flexP_1 {
      display: none;
      padding: 10px;
      display: flex;
      flex-flow: row wrap;
      width: 40%;
      max-height: 90vh;
      justify-content: center; }
    .flexP .flexP_2 {
      padding: 20px;
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      text-align: left;
      align-items: flex-start; }
  .flexPF {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%; }
    .flexPF .flexPF_1 {
      padding: 10px;
      display: flex;
      flex-flow: row wrap;
      width: 35%;
      max-height: 90vh;
      background-position: center; }
    .flexPF .flexPF_2 {
      padding: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      text-align: left; }
  .imgSI {
    display: none;
    height: 100%;
    width: 90%;
    border-radius: 50%;
    padding: 20px; }
  .flexQS {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
    height: auto; }
    .flexQS .flexQS__seccion {
      padding-bottom: 20px;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: medium;
      max-height: 90vh; }
    .flexQS .flexQS__img {
      border-radius: 20%;
      width: 100%;
      max-height: 55vh;
      padding-bottom: 20px; }
  .flexJ {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 10px; }
    .flexJ .flexJ_1 {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .flexJ .flexJ_2 {
      width: 100%;
      font-size: medium;
      text-align: center;
      flex-direction: column;
      align-items: center; }
    .flexJ .flexJ_img {
      height: 59vh;
      border-radius: 10px 10px 10px 10px;
      max-width: 100%; }
    .flexJ .flexJ_tAQ {
      display: none; }
    .flexJ .flexJ_tAQ2 {
      display: inline;
      text-align: center; } }
